$app-dashboard-top-nav-color: #2c3840;
$app-dashboard-top-nav-height: 55px;

.main-content {
  padding: 30px;
  background-color: #fff;

  hr {
    clear: both;
    max-width: 100rem;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #cacaca;
    border-left: 0;
  }

  thead {
    background: #2c3840;
    color: #fff;
  }

  .row {
    max-width: 100%;
  }

  .add-member {
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
  }

  .project, .task{
    border-radius: 5px;
    border: 2px solid #2c3840;
    padding: 0px;
    color: #fff;
    margin-bottom: 20px;

    .project-header, .task-header {
      text-align: center;
      background-color: #2c3840;
      padding: 10px;
    }

    .project-content, .task-content {
      min-height: 150px;
      color: #2c3840;
      padding: 10px;

      br {
        margin-bottom: 5px;
      }
    }

    .project-content-edit, .task-content-edit{
      min-height: 150px;
      color: #2c3840;
      padding: 30px;

      br {
        margin-bottom: 5px;
      }
    }

    .project-timeline {
      color: #2c3840;
      padding: 10px;
    }

    .project-footer, .task-footer  {
      padding: 10px;
      background-color: #cacaca;
    }
  }
}

.app-dashboard {
  background-color: #d8d8d8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

.app-dashboard-top-nav-bar {
  display: flex;
  align-items: center;
  //justify-content: center;
  background: $app-dashboard-top-nav-color;
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
  .menu-icon {
    vertical-align: text-bottom;
  }
}

.app-dashboard-logo {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}

.app-dashboard-top-bar-actions {
  text-align: right;

  button {
    margin-bottom: 0;
    margin-right: 2rem;

    &.hollow {
      border-color: $white;
      color: $white;

      &:hover {
        background: $white;
        color: $primary-color;
      }
    }
  }

  .fa-info-circle {
    color: $white;
    font-size: 1.5rem;
  }
}

.app-dashboard-sidebar {
  background: #d8d8d8;
  //background-color: $white;
  height: 100%;
  overflow-x: visible;
  overflow-y: auto;
  z-index: 1;
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;

  .app-dashboard-open-sidebar, .app-dashboard-close-sidebar {
    align-items: baseline;
    display: flex;
    padding: 1rem 1rem 0 1rem;
  }

  .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }

  .app-dashboard-sidebar-inner {
    //height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .menu > li > a {
      align-items: center;
      border-bottom: 2px solid #eee;
    }
    .menu > li > a:hover {
      background: #2c3840;
      color: #fff;
    }
  }
  .fa.large {
    font-size: rem-calc(24);
    width: 40px;
  }
}

.reveal-for-medium {
  .app-dashboard-open-sidebar {
    display: none;
  }
}

.app-dashboard-sidebar-footer {
  background: rgba(42, 57, 79, 0.8);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}

.app-dashboard-open-sidebar {
  text-align: center;
}

.app-dashboard-body-content {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  overflow-y: auto;
  flex: 1 1 0;
  background-color: #fff;
}

@mixin shrunk-sidebar() {
  .app-dashboard-close-sidebar, .app-dashboard-sidebar-text {
    display: none;
  }

  .app-dashboard-open-sidebar {
    display: block;
  }

  .app-dashboard-sidebar {
    width: 80px;
    .fa.large {
      width: auto;
    }
  }

  .off-canvas-content {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  .navigation {
    margin-top: 2rem;
    text-align: center;

  }
  .menu.vertical > li > a {
    justify-content: center;
  }

  .menu {
    li {
      &::after {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }

      a {
        padding: 0.75rem;
        svg {
          margin: 0;
        }
        span {
          display: none;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
      }
    }
  }
}

// mini sidebar on medium/tablet size
@include breakpoint(medium only) {
  .app-dashboard.shrink-medium {
    @include shrunk-sidebar()
  }
}

@include breakpoint(large) {
  .app-dashboard.shrink-large {
    @include shrunk-sidebar()
  }
}


.dropdown.menu > li.is-dropdown-submenu-parent > a {
  color: #fff;
}